'<div data-tagblock="redactor" style="text-align: justify;">Колишні бійці добровольчого батальйону
  «Донбас» розповіли на камеру, які спогади про себе залишив командир батальйону, відомий як Семен Семенченко.</div>
<div style="text-align: justify;">Донецька журналістка Тетяна Заровна опублікувала відеозапис розмов із бійцями
  «Донбасу», що мали справу з Семеном Семенченком.<br><br>«Його не цікавить Україна, його не цікавить правда, він просто
  використовує можливості стати кимось дуже великим у цьому житті», — розповів колишній боєць «Донбасу» Олег
  Дуб.<br><br>Колишній боєць батальйону Віктор Кондратюк заявив, що до рішення дати публічну прес-конференцію його і
  товаришів, які перейшли з «Донбасу» в інші батальйони і продовжують воювати на сході України, підштовхнуло
  нагородження Семенченка орденом і наміри комбата піти у велику політику.<br><br>«У Карлівці (Мар'їнського району
  Донецької області. — Ред.) особовий склад був виведений у м'ясорубку Семеном. Усі ці події призвели до того, що
  батальйон „Донбас“ втратив п'ять осіб „двохсотих“ (вантаж 200 — „загиблі“. — Ред.) і п'ятеро людей стали „трьохсотими“
  (вантаж 300 — „поранені“. — Ред.)», — заявив колишній боєць «Донбасу» Павло.<br><br>«Коли колона підходила до
  Карлівського блокпоста, по них почали стріляти прямо з коліс. Семенченко у той момент їхав ще зі своїм охоронцем, у
  них в машині було два автомати. У першу ж хвилину, точніше секунду, коли все почалося, він знову втік, як робив уже не
  раз. Потім, коли бійці, які залишилися живі та поранені, задали йому питання, чому ти втік зі зброєю, ти ж міг нас
  підтримати, він сказав: «Все нормально, я був з вами, я знаходився за декілька кілометрів і визивав допомогу. Можливо,
  Семенченко дійсно визивав допомогу, але крім того, він ще займався писаниною в фейсбуці. В Карлівці йде бій, а в
  Facebook уже йде виброс, як говорить сам Семенченко, геройської інформації», — розповів колишній боєць «Донбасу»
  Віктор Кондратюк.<br>
  <iframe allowfullscreen="" frameborder="0" height="480" src="http://www.youtube.com/embed/LjiTMw5ZJi0?rel=0"
    width="640"></iframe><strong>Командир 5-ї роти <img
      src="https://i2.wp.com/itc.ua/wp-content/uploads/2019/10/4416263845.jpg?fit=423%2C300&quality=100&strip=all&ssl=1" alt=""
      style="float: left; width: 222px; height: 133.2px; margin: 0px 10px 10px 0px;"
      rel="float: left; width: 222px; height: 133.2px; margin: 0px 10px 10px 0px;"> батальйону «Дніпро-1»</strong> Володимир Шилов підтвердив, що після бою в Карлівці до
  нього перейшло багато бійців «Донбасу». «Люди просто побачили, що Семенченко на них піариться. Він за два дні в
  Facebook виклав маршрут руху, сказав, що вони будуть йти на Шахтарськ, і там їх просто тупо чекали. Він практично
  неозброєних людей кинув у м'ясорубку, а сам був позаду і все це розписував. І люди це прекрасно бачили. Якби не
  героїчна смерть, не пам'ятаю, як цього бійця звали (я його не знав), який <a href="https://google.com">підірвав</a> себе і всіх, хто був поруч, там
  були би ще більші втрати. А так він дав можливість хлопцям піти. Після того, що сталося, люди більш-менш розсудливі
  розвернулися і пішли», — каже Шилов.<br><br>«Семена ніколи не було: ні в першому бою, коли захоплювали блокпост у
  Красноармійську, Семена не було, коли ми відбивали атаку протягом чотирьох з половиною годин в Новопідгородньому (село
  в Межівському районі Дніпропетровської області, перебуває в 1 км від села Леніно Донецької області . — Ред.), Семена
  не було в Великоновоселівці. Я не знаю, де він був. Але в нього в машині була левова частка озброєння», — розповідає
  колишній боєць батальйону «Донбас» на прізвисько «Артем».<br><br>За словами Кондратюка, Костянтин Гришин (псевдонім
  Семен Семенченко) донедавна не був офіційно призначений командиром батальйону «Донбас». «Може, зараз там вже щось
  виправили», — сказав він. «Більшість цих публікацій (Семенченко в соцмережі) є або прямою брехнею, або відвертим
  присвоєнням заслуг інших підрозділів», — вважає Кондратюк.<br><br>Крім того, за свідченням журналістів Тетяни Зарівної
  і Артема Фурманюка, які були активістами донецького Євромайдану, 13 березня, у день бійні після закінчення мітингу за
  єдину Україну, Семен Семенченко пішов за декілька хвилин до початку зіткнень, хоча очолював місцеву самооборону. «Він
  давав десятникам самооборони номер свого мобільного телефону і говорив, що з ментами у нього все схоплено, вони
  вирішили виступити все-таки на боці самооборонівців, що виявилося згодом неправдою...», — розповів Фурманюк. За його
  словами, коли Семенченко пішов, до нього не можна було додзвонитися, а потім він заявив, що в нього сіла батарея.
</div>
<div data-tagblock="redactor" style="text-align: justify;"><iframe width="620" height="349"
    src="//www.youtube.com/embed/NaQsqIQUGLs" frameborder="0" allowfullscreen=""></iframe>«Усі люди на цьому відео
  реальні та готові відповідати на питання в суді, прокуратурі, СБУ і МВС», — йдеться у підписі до відеозапису
  журналістського розслідування.</div>
<div style="text-align: justify;">Як повідомляв «Ракурс», Семенченко оголосив про рішення йти на вибори в Раду з партією
  Садового. Раніше комбат «Донбасу» регулярно повідомляв через Facebook про те, що відбувається в зоні АТО з його
  батальйоном. У вересніСеменченко оголосив про створення Української військової організації.<br><br>Нагадаємо, 1
  вересня Семенченко був нагороджений Орденом Богдана Хмельницького III ступеня.<br></div>'